{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
                  <h1>Заполните форму для обратной связи</h1>
<a href="/">Back to the homepage</a>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-primary">Отправить</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}